.pokeCard {
  width: 10rem;
  height: 15rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 70%);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}
.pokeImage {
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 70%);
}
.pokeImage:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.pokeName {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #EF5350;
  text-transform: capitalize;
}

.pokeDetails {
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #EF5350;
  color: #ffffff;
  border: .1rem solid #ffffff;
}
.pokeDetails:hover {
  background-color: #D32B2B;
  color: #ffffff;
  transition: .5s;
}
.pokeType {
  width: auto;
  height: auto;
  border-radius: 1rem;
  padding: .5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #d32b2b9d;
  text-transform: capitalize;
  border: .1rem solid #FFCD00;
}