@media only screen and (min-width: 375px) {
  .itemList {
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
  }
}
@media only screen and (min-width: 576px) {
  .itemList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin: 2rem;
}
}
